<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTest.TestAdapter" version="2.2.8" targetFramework="net48" />
  <package id="Microsoft.Protocols.TestTools" version="2.2.0" targetFramework="net48" />
  <package id="Microsoft.QualityTools.Testing.Fakes" version="16.11.230815" targetFramework="net48" />
  <package id="NUnit" version="3.5.0" targetFramework="net45" />
</packages>